form{
    display: inline;
}

.loginbg {
    background: url('../img/loginbg.jpg') no-repeat center center fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.chefbg {
    background: url('../img/chefbg.jpg') no-repeat center center fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.registernbg {
    background: url('../img/registerbg.jpg') no-repeat center center fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.categorybg {
    background: url('../img/categorybg.jpg') no-repeat center center fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.dishbg {
    background: url('../img/dishbg.jpg') no-repeat center center fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.tablebg {
    background: url('../img/tablebg.jpg') no-repeat center center fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


a.list-group-item:nth-child(odd) {background: #CCC}

.oranged-text
{
    color:orangered;

}
.bg-green{
    background-color:rgb(56, 193, 114);

}
.orange-text
{
    color:orange;

}
.green-text
{
    color:rgb(56, 193, 114);
}
.red-text
{
    color:red;
}

.border-bottom{
 border-bottom: 1px #333 solid;
}
.receipt{
font-size: 13px !important;
 border:1px solid #000;
 padding: 2px 2px 2px 2px;
 margin-bottom: 4px;
 font-family: 'Balsamiq Sans', cursive;
 box-shadow: 0 3px 15px 1px rgba(0,0,0,.15);
}
.receiptbg{
  /*  background-color:rgb(56, 193, 114);*/
    }
.editbtn{
    background-color:orange;
    color:#000;
    border:0px;

}

.editbtn:hover{
    background-color:orange;
    color:#000;

}

div.errormessage {

    min-height: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top:3px solid #b81c23;
    background-color:  #f7f6f7;
    width:70%

    }

div.categoryhover:hover{

    border: #ccc;
}


.orderlist-enter{
    opacity: 0;

}
.orderlist-enter-active{
    transition:  opacity 1s;

}
.orderlist-leave{

}
.orderlist-leave-active{
     transition:  opacity 1s;
     opacity: 0;

}



