<template>
    <div    class="pt-2 ml-5 pb-2 pr-2">

         <div class="col-sm-12 navbar-brand">Order Placed</div>
        <chefitemplaced-component v-for="(order) in orders" :order="order" :key="getkey(order)">
        </chefitemplaced-component>



         <div class="col-sm-12 navbar-brand">Dishes Been Prepared</div>
        <chefitempreparing-component v-for="(order) in orders" :order="order" :key="getkey(order)">
        </chefitempreparing-component>

    </div>

</template>

<script>
export default {
    data(){

        return {orders:[],}
    },
    mounted(){
        Echo.channel('PlacedOrder')
            .listen('OrderUpdated', (e)=>{
                const index = this.orders.findIndex(order => order.id === e.orderdetails.id );
                 if(index>=0) {
                     this.orders.splice(index,1,e.orderdetails);
                     // jord=  this.orders.filter()
                     // pord=  this.orders
                    console.log("----");
                     console.log(e.orderdetails);
                    console.log("----");
                     }
                console.log(e);

             }).listen('OrderPlaced', (e)=>{

                    this.orders.push(e.orderdetails);


             });

         console.log("mounted");
    },
    created(){
         axios.get("/api/orderdetails/kitchen/orders", {
                }).then(res=> {
                    this.orders=res.data;
                })
            .catch(function (error) {
            console.log(error);
            });
             console.log("created");
             console.log(this.orders);

    },
    computed:{
             placedorder(){
                      return this.orders.filter(order => order.status=='placed');
             },
             preparingorder(){
                      return this.orders.filter(order => order.status=='preparing');
             }
    },
    methods:{
        getkey(order){
               order.created_at.split(" ").join("");
        }

    }

}
</script>
