<template>
<div>
    <transition name="chiefsneworders">
 <div class="row mt-1" v-if="dish_name && order.status=='placed' " >
    <div class="col-sm-4 ">{{order_id}}{{dish_name}}</div>
    <div class="col-sm-2 ">{{dish_quantity}}</div>
    <div class="col-sm-3 "><button type="button" class="btn btn-dark btn-sm"
    @click="prepare"
    >Start Preparing</button></div>

</div>
    </transition>
</div>
</template>

<script>
export default {
    props:['order'],
    data(){
        return {dish_name:null,dish_id:null,dish_quantity:null,order_id:null}
    },
    created(){

                  //this.dish_name=res.data['name'];
                  this.dish_name=this.order.dish["name"];
                  this.dish_id=this.order.dish_id;
                   this.dish_quantity=this.order["quantity"];
                   this.order_id=this.order.id;

    },
    methods:{
             prepare(){
                 let cm = confirm(`Start Preparing ${this.dish_name} ?`);
                if(cm)
                {
                  axios.put(`api/orderdetails/${this.order_id}`,
                           {status:'preparing'}
                    )
                    .then(res=> {
                    })
                    .catch(function (error) {
                    console.log(error);
                  });
                }

             }
    }
}
</script>
<style scoped>
.chiefsneworders-enter{
    opacity: 0;
    border-bottom: 2px solid  orange;
}
.chiefsneworders-enter-active{
    transition:  opacity 2s;
    border-bottom: 2px solid  orange;
}
.chiefsneworders-leave{}
.chiefsneworders-leave-active{
     transition:  opacity 1s;
     opacity: 0;
      border-bottom: 2px solid  #000;
}

</style>

