<template>
<div>
    <transition name="chiefsneworders">

    <div class="row mt-1" v-if="dish_name && order.status=='placed' " >
        <div class="col-sm-4 ">{{order_id}}{{dish_name}}x</div>
        <div class="col-sm-2 ">{{dish_quantity}}</div>
        <div class="col-sm-3 "><button type="button" class="btn btn-dark btn-sm">Start Preparingx</button></div>
    </div>
</transition>

 <div class="row mt-1" v-if="dish_name && order.status=='preparing' " >
    <div class="col-sm-4 ">{{order_id}}{{dish_name}}</div>
    <div class="col-sm-2 ">{{dish_quantity}}</div>

    <div class="col-sm-3 "><button type="button" class="btn btn-success btn-sm">Click To Finish</button></div>
</div>
</div>
</template>

<script>
export default {
    props:['order'],
    data(){
        return {dish_name:null,dish_id:null,dish_quantity:null,order_id:null}
    },
    created(){

                  //this.dish_name=res.data['name'];
                  this.dish_name=this.order.dish["name"];
                  this.dish_id=this.order.dish_id;
                   this.dish_quantity=this.order["quantity"];
                   this.order_id=this.order.id;

    }
}
</script>
