<template>
    <div class="row border-bottom">
        <div class="col-md-3">
            <img :src="'/storage/dish/' + dish.image"  width="60px" >
        </div>
        <div class="col-md-3">{{dish.name}}</div>
         <div class="col-md-3">{{dish.price}}</div>
         <div class="col-md-3">
             <quantity-component :cdish="dish" :key="dish.id" >
             </quantity-component>

             </div>
    </div>
</template>

<script>
export default {
    props:["dish"],
     data(){
        return {name:'test'}
    }

}
</script>
