
<template>
<div>

<ul class="nav nav-tabs">

  <li  class="nav-item"  v-for="(category) in  categoryItems"
  :key="category.id" @click="changeTab(category.id)"
  >
    <a :class="['nav-link dish-menu', (category.id === activeID ) ? 'active' : '']" href="#">{{category.name}}</a>
  </li>

</ul>
         <div v-if="this.$store.getters.getTable">
         <menuitem-component v-for="(dish,index) in dishItems" :key="index"  :dish="dish" >
         </menuitem-component>
         </div>
         <div v-else>
                <div class="card">
                    <div class="card-body">
                        Please select a table to place an order.
                    </div>
                </div>

                </div>

</div>
</template>

<script>
export default {
    // +'-' + dish.name"
    data(){
        return {
            categoryItems:null,
            activeID:0,
            dishItems:[]
        }
    },
    methods:{
        changeTab(id){
              this.activeID=id;
              axios.get(`/api/dishes/categories/${id}`, {
                }).then(res=> {
                  this.dishItems=res.data
                   console.log(res.data);
                })
            .catch(function (error) {
            console.log(error);
            });

        }

    },
    mounted(){
                axios.get('/api/categories', {
                })
                .then(res=> {
                  this.categoryItems=res.data
                   console.log(res.data);
                })
            .catch(function (error) {
            console.log(error);
            });



            }

}
</script>
