<template>

<div  v-if="orderDetails.length>0 || (payment!=1 && getOrder.length>0 )" class="receipt mt-1">

   <transition name="orderlist">
  <div v-if="payment==1">
    <order-component  v-for="(order) in orderDetails" :key="getKey(order)"
    :order="order"
    >
    </order-component>
  </div>
   </transition>

  <transition name="orderlist">
  <div v-if="payment==0">
    <order-component  v-for="(order) in getOrder" :key="getKey(order)"
    :order="order"
    >
    </order-component>
  </div>
  </transition>

    <div class="text-right mt-2" v-if="getOrderTotal >0">Total: ${{getOrderTotal}}</div>

    <div class="text-right mt-2" v-if="getOrderTotal >0">
        <button type="button" class="btn btn-success btn-block"  @click="confimrPlaceOrder" v-if="payment!=1">Place Order</button>
        <button type="button" class="btn btn-dark btn-block" @click="cancelOrder">Cancel Order</button>
       <div class="form-group row mt-2"  v-if="payment=='1'">
            <div class="col-sm-4">Amount</div>
            <div class="col-sm-4">

            <input type="text" class="form-control" v-model="amountgiven" placeholder="Enter Amount Given" maxlength="8">
            </div>
        </div>
        <button class="btn btn-dark btn-block" href=""  v-if="payment=='1'" @click="pay('cash')">Pay By Cash</button>
        <button class="btn btn-dark btn-block" href="" v-if="payment=='1'" @click="pay('card')">Pay By Card</button>
    </div>
</div>

</template>

<script>
import {mapGetters} from 'vuex';
import { v1 as uuidv1 } from 'uuid';
export default {
props:["payment","user_id"],
data (){
    return {orderDetails:[],sale_id:null,amountgiven:0}
},
created(){

   if(this.payment=='1'){

           axios.get(`/api/orderdetails/table/${this.getTableID}`, {
                }).then(res=> {
                    this.sale_id=res.data.sale_id;
                  this.getOrders(res.data.sale_id)
                })
            .catch(function (error) {
            console.log(error);
            });

   }
},
  methods:{
          getKey(order){
                return (order.id + "-" + order.qty + order.name)
          },
          processpayment(order){
               console.log(order);
               axios.post(`api/payments/method`, order).then(res=> {
                    alert('cool')

                })
            .catch(function (error) {
            console.log(error);
            });

          },
          pay(type){
              let order={};
              order['table_id']=this.getTableID;
              order['sale_id']=this.sale_id;
              order['total_price']=this.getOrderTotal;
              order['payment_type']=type;
              order['user_id']=this.user_id;
              alert(this.getOrderTotal)
              if(parseFloat(this.getOrderTotal) > parseFloat(this.amountgiven)){
                  alert("Amount Entered Can Not Be Less Then The Bill.")
              }
              else{
                   order['total_recieved']=this.amountgiven;
                   order['change']=parseFloat(this.amountgiven)-parseFloat(this.getOrderTotal) ;
                    this.processpayment(order)
              }
          },
          getOrders(sale_id){

              axios.get(`api/orderdetails/${sale_id}`, {
                 }).then(res=> {
                     let orders=res.data;
                     orders.forEach(element => {
                     let order={};
                      order['id']=element['dish_id'];
                      order['name']=element['dish']["name"];
                      order['qty']=element['quantity'];
                      order['price']=element['dish_price'];
                      console.log("***")
                      console.log(element)
                      console.log("***")
                      this.orderDetails.push(order)
                      this.$store.dispatch("setOrder",order);
                      })


                })
            .catch(function (error) {
            console.log(error);
            });

          },
          cancelOrder(){
              let cm = confirm("Are you sure you want to cancel order?");
              if(cm){
                    $("div.bg-green").removeClass("bg-green")
                 this.$store.dispatch("cancelOrder");
              }
          },
           confimrPlaceOrder(){
               let cm = confirm("Are you sure you want to Palce the order?");
              if(cm){
                    $("div.bg-green").removeClass("bg-green")
                    this.placeOrder();
              }

           },
          placeOrder(){
              let orders =this.getOrder;
              let sale_id=uuidv1();
              orders.forEach(element => {

               let dish={};
               dish['dish_id']= element.id
               dish['dish_price']= element.price
               dish['quantity']= element.qty
               dish['table_id'] =this.getTableID;
               dish['sale_id'] =sale_id;

               console.log(dish);
              axios.post('/api/orderdetails', dish)
               .then(res=> {this.tables=res.data; console.log(res.data);})
               .catch((error)=> {console.log(error);});

              })
              this.$store.dispatch("cancelOrder");
              this.$store.dispatch("reloadtables");
          }

  },
  computed:mapGetters(['getTableName','getOrder','getOrderTotal','getTableID'])
}
</script>
