<template>
<div class="row mt-1">
    <div class="col-sm-6 ">{{order.name}}</div>
    <div class="col-sm-3 ">{{order.qty}}X${{order.price}}</div>
    <div class="col-sm-3 ">${{(order.price*order.qty).toFixed(2)}}</div>

</div>

</template>

<script>
import {mapGetters} from 'vuex';
export default {
 props:['order'],
  computed:mapGetters(['getOrderTotal'])
}
</script>
