<template>
    <div>
    <i class="fas fa-plus-square green-text"  @click="inc"></i>
    <input type="number" style="width:50%" v-model="qty" @change="changeQty"/>
    <i class="fas fa-minus-square red-text" @click="dec"></i>
 </div>
</template>
<script>
import {mapGetters} from 'vuex';
export default {
props:['cdish'],
data(){
   return {
       dish:{},
        qty:0
       }
 },

mounted(){
    this.dish=this.cdish;
    const index = this.$store.state.orders.findIndex(order => order.id === this.cdish.id );
    console.log('here' + index);
    if(index<0)this.qty=0;
    else {
        this.qty=this.$store.state.orders[index].qty;
        }

},
methods:{
    changeQty(){
           if(this.qty<0 || this.qty==0)this.qty=0;
            this.dish["qty"]=this.qty;
            this.$store.dispatch('setOrder',this.dish)
    },
    inc()
    {
      this.qty++;
      this.dish["qty"]=this.qty;
       this.$store.dispatch('setOrder',this.dish)
    },
    dec()
    {
        if(this.qty!=0 || this.qty!=""){
           this.qty--;
           this.dish["qty"]= this.qty;
        }
        this.$store.dispatch('setOrder',this.dish)
    }

}
}
</script>
