<template>
<div class="col-sm-3 text-center ">
   <div v-if="table.status===1" style="border:1px solid #000 " class="mt-1" @click="setTableName"
   :class="['', (table.id === getselectedTableID ) ? 'bg-green' : '']"
   >
        <i class="fas fa-chair oranged-text"></i><br>
        {{table.name}}
    </div>
     <div v-else  style="border:1px solid red " class="mt-1" @click="checkout" :class="['', (table.id === getselectedTableID ) ? 'bg-green' : '']" >
        <i class="fas fa-chair oranged-text"></i><br>
        {{table.name}}
    </div>
</div>

</template>

<script>
import {mapGetters} from 'vuex';
export default {
    props:['table','action'],
    data(){
        return {name:'test'}
    },
    methods:{
        setTableName(){
            if(this.action=="order"){
              this.$store.dispatch('setTable',this.table)
            }
        },
        checkout(){
            if(this.action=="cashier"){
            this.$store.dispatch('setTable',this.table)
            }
        }
    },
    computed:mapGetters(['getselectedTableID','reloadTheTables'])
}
</script>
