
<template>
<div>
    <div class="row">

         <table-component v-for="(table,index) in tables" :key="index" :table="table" :action="action">
         </table-component>
    </div>

</div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    props:['action'],
    data(){
        return {tables:[]}
    },
    created(){
        axios.get('/api/tables', {
                })
                .then(res=> {
                  this.tables=res.data
                   console.log(res.data);
                })
            .catch(function (error) {
            console.log(error);
            });

    },
    computed:mapGetters(['getTableName','getOrder'])

}
</script>


